/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .btn-default {
    color: #243247;
    background-color: #9cbff5;
    border-color: #9cbff5;
  }
  
  .btn-default:hover {
    color: #06080a;
    background-color: #6b84aa;
    border-color: #6b84aa;
  }